{# 
doc Configure new PNI:
1. Document communities on WeShare
2. Document link on WeShare
3. Configure device
#}
{% set community = community|string %}
#
interface Eth-Trunk{{eth_trunk}}
 description E-{{peer_type[:1]}},{{peer}},AS{{peer_as}},{{sid}},{{peer_type}},BW={{tot_bw}}
 ipv6 enable
 ip address {{ip}} {{mask|default("31")}}
 {% if ipv6 is defined %}
 ipv6 address {{ipv6}}/{{maskv6|default("126")}}
 {% endif %}
 traffic-policy PBR_V4_V6 inbound
 ip netstream inbound
 ip netstream outbound
 ipv6 netstream inbound
 ipv6 netstream outbound
 mode lacp-static
 qos default-service-class be
 ip urpf loose 
 ipv6 urpf loose 
 statistic enable
#
{% for physint in interfaces %}
interface {{physint.name}}
 description E-{{peer_type[:1]}},{{peer}},AS{{peer_as}},{{peer_type}},{{physint.idn}},Eth-Trunk{{eth_trunk}},LAG,TM={{physint.tm}},BW={{if_bw}}
 undo shutdown
 eth-trunk {{eth_trunk}}
 undo dcn
#
{% endfor %}
ip community-filter basic AS{{peer_as}}_PREPEND_1 index 10 permit 6730:6000 6730:11{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_PREPEND_1 index 20 permit 6730:6000 6730:11{{community}}
ip community-filter basic AS{{peer_as}}_PREPEND_1 index 40 permit 6730:6001 6730:11{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_PREPEND_1 index 50 permit 6730:6001 6730:11{{community}}
ip community-filter basic AS{{peer_as}}_PREPEND_2 index 10 permit 6730:6000 6730:12{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_PREPEND_2 index 20 permit 6730:6000 6730:12{{community}}
ip community-filter basic AS{{peer_as}}_PREPEND_2 index 40 permit 6730:6001 6730:12{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_PREPEND_2 index 50 permit 6730:6001 6730:12{{community}}
ip community-filter basic AS{{peer_as}}_PREPEND_3 index 10 permit 6730:6000 6730:13{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_PREPEND_3 index 20 permit 6730:6000 6730:13{{community}}
ip community-filter basic AS{{peer_as}}_PREPEND_3 index 40 permit 6730:6001 6730:13{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_PREPEND_3 index 50 permit 6730:6001 6730:13{{community}}
ip community-filter basic AS{{peer_as}}_SUPPRESS index 10 permit 6730:10
ip community-filter basic AS{{peer_as}}_SUPPRESS index 20 permit 6730:10{{community[:1]}}00
ip community-filter basic AS{{peer_as}}_SUPPRESS index 30 permit 6730:10{{community}}
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} deny node 10
 if-match ip-prefix RFC1918_DSUA
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} deny node 20
 if-match community-filter AS{{peer_as}}_SUPPRESS 
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} permit node 30
 if-match community-filter AS{{peer_as}}_PREPEND_3 
 apply as-path 6730 6730 6730 additive
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} permit node 40
 if-match community-filter AS{{peer_as}}_PREPEND_2 
 apply as-path 6730 6730 additive
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} permit node 50
 if-match community-filter AS{{peer_as}}_PREPEND_1 
 apply as-path 6730 additive
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} permit node 60
 if-match community-filter GLOBAL_TRANSIT 
 if-match community-filter SWISS_TRANSIT 
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_{{peer}}_AS{{peer_as}} deny node 10000
#
route-policy IMPORT_{{peer}}_AS{{peer_as}} deny node 10
 if-match ip-prefix RFC1918_DSUA
#
route-policy IMPORT_{{peer}}_AS{{peer_as}} permit node 20
 if-match protocol bgp
 apply local-preference 80
 apply cost + 5
 apply community 6730:6300 6730:6{{community}}
#
route-policy IMPORT_IPV6_{{peer}}_AS{{peer_as}} deny node 10
 if-match ipv6 address prefix-list IPV6_DSUA
#
route-policy IMPORT_IPV6_{{peer}}_AS{{peer_as}} permit node 20
 if-match protocol bgp
 apply local-preference 80
 apply cost + 5
 apply community 6730:6300 6730:6{{community}}
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} deny node 10
 if-match ipv6 address prefix-list IPV6_DSUA
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} deny node 20
 if-match community-filter AS{{peer_as}}_SUPPRESS 
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} permit node 30
 if-match community-filter AS{{peer_as}}_PREPEND_3 
 apply as-path 6730 6730 6730 additive
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} permit node 40
 if-match community-filter AS{{peer_as}}_PREPEND_2 
 apply as-path 6730 6730 additive
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} permit node 50
 if-match community-filter AS{{peer_as}}_PREPEND_1 
 apply as-path 6730 additive
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} permit node 60
 if-match community-filter GLOBAL_TRANSIT 
 if-match community-filter SWISS_TRANSIT 
 apply cost 10
 apply comm-filter ALL_COMMUNITIES delete
#
route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} deny node 10000
#
bgp 6730
 group {{peer}}_AS{{peer_as}} external
 peer {{peer}}_AS{{peer_as}} description {{peer}},AS{{peer_as}},{{peer_type}},{{sid}},email:{{email}}
 peer {{peer}}_AS{{peer_as}} connect-interface Eth-Trunk{{eth_trunk}}
 peer {{peer_ip}} as-number {{peer_as}}
 peer {{peer_ip}} group {{peer}}_AS{{peer_as}}
 #
 {% if ipv6 is defined %}
 group IPV6_{{peer}}_AS{{peer_as}} external
 peer IPV6_{{peer}}_AS{{peer_as}} description {{peer}},AS{{peer_as}},{{peer_type}},{{sid}},email:{{email}}
 peer IPV6_{{peer}}_AS{{peer_as}} connect-interface Eth-Trunk{{eth_trunk}}
 peer {{peer_ipv6}} as-number {{peer_as}}
 peer {{peer_ipv6}} group IPV6_{{peer}}_AS{{peer_as}}
 #
 {% endif %}
 ipv4-family unicast
  {% if ipv6 is defined %}
  undo peer IPV6_{{peer}}_AS{{peer_as}} enable
  {% endif %}
  peer {{peer}}_AS{{peer_as}} enable
  peer {{peer}}_AS{{peer_as}} public-as-only
  peer {{peer}}_AS{{peer_as}} route-policy IMPORT_{{peer}}_AS{{peer_as}} import
  peer {{peer}}_AS{{peer_as}} route-policy EXPORT_{{peer}}_AS{{peer_as}} export
  peer {{peer}}_AS{{peer_as}} route-limit 2500 idle-timeout 30
  peer {{peer}}_AS{{peer_as}} advertise-community
  peer {{peer}}_AS{{peer_as}} advertise-ext-community
  peer {{peer_ip}} group {{peer}}_AS{{peer_as}}
 #
{% if ipv6 is defined %}
 ipv6-family unicast
  peer IPV6_{{peer}}_AS{{peer_as}} enable
  peer IPV6_{{peer}}_AS{{peer_as}} public-as-only
  peer IPV6_{{peer}}_AS{{peer_as}} route-policy IMPORT_IPV6_{{peer}}_AS{{peer_as}} import
  peer IPV6_{{peer}}_AS{{peer_as}} route-policy EXPORT_IPV6_{{peer}}_AS{{peer_as}} export
  peer IPV6_{{peer}}_AS{{peer_as}} route-limit 500 idle-timeout 30
  peer IPV6_{{peer}}_AS{{peer_as}} advertise-community
  peer IPV6_{{peer}}_AS{{peer_as}} advertise-ext-community
  peer {{peer_ipv6}} group IPV6_{{peer}}_AS{{peer_as}}
 #
{% endif %}
#
acl number 3022
 rule permit tcp source {{peer_ip}} 0 source-port eq bgp
 rule permit tcp source {{peer_ip}} 0 destination-port eq bgp
#
{% if ipv6 is defined %}
acl ipv6 number 3106
 rule permit tcp source {{peer_ipv6}}/128 source-port eq bgp
 rule permit tcp source {{peer_ipv6}}/128 destination-port eq bgp
#
{% endif %}
