{# This is an example of template in Jinja2 format to be user with NEPYH #}

#
hostname {{hostname}}
#
{% if test_ip is defined %}
Test ip: {{ test_ip|ip }}
Test mask: {{ test_ip|netmask }}
Test network: {{ test_ip|network }}
{% endif %}
#
{% if test_ipv6 is defined %}
Test v6ip: {{ test_ipv6|ip }}
Test v6mask: {{ test_ipv6|netmask }}
Test v6network: {{ test_ipv6|network }}
{% endif %}
#
{% if banner is defined %}
header login information $
{{banner}}$
#
{% endif %}
{% if mgt is defined %}
interface loopback0
 ip address {{mgt.ip}} {{mgt.mask|default("255.255.255.255")}}
#
{% endif %}
{% for intf in interfaces %}
interface {{intf.name}}
 description {{intf.description}}
 ip address {{intf.ip}} {{intf.mask}}
#
{% endfor %}
{% for prefix in prefixes %}
{% set ip = prefix.partition('/')[0] %}
{% set mask = prefix.partition('/')[2]|int %}
ip ip-prefix LOCAL_NETWORK permit {{ip}} {{mask}}
{% endfor %}
#